.home-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-wrapper{
    width: 50%;
    height: 90vh;
}
.tabs .tab a {
    color: rgba(38, 166, 154, 0.7);
    /*Custom Text Color*/
  }
  
  .tabs .tab a:hover {
     color:#26a69a; 
    /*Custom Color On Hover*/
  }
  
  .tabs .tab a:focus.active {
    color:white;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.7);
    /*Custom Background Color While Active*/
  }
  
  
  
  .tabs .tab a.active {
    background-color:rgba(38, 166, 154, 0.7);
    color:white;
  } /*Background and text color when a tab is active*/
  
  .tabs .indicator {
    background-color:#26a69a;
  
    /*Custom Color Of Indicator*/
  }