.quest{
    display: flexbox;
    border: 2px solid #e0e0e0;
    margin: 10px;
}
.author-pic{
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-left: 20px;
}
.question-header{
    text-align: left;
    font-size: 20px;
    padding: 3px;
    padding-left: 7px

}
.question-body{
    display: flex
}
.poll{
    justify-content: flex-end;

}
.question{
    width: 65%;
    text-align: left;
    margin-left: 30px;
}