.quest{
    display: flexbox;
    border: 2px solid #e0e0e0;
    margin: 10px;
}
.author-pic{
    width: 100px;
    height: 100px;
    background-size: contain;
    float: left;
}
.question-header{
    text-align: left;
    font-size: 20px;
    padding: 3px;
    padding-left: 7px
}
.question-body{
    display: flex
}
.poll{
    justify-content: flex-end;

}
.question{

     display: flexbox;
    /*width: 75%; */
    flex: 1;
    display: flex;
    flex-direction: column;

}